<div class="jumbotron">
  <h1 class="display-3">Welcome to Scott's Weather Forecaster</h1>
</div>

<div class="row">
  <div class="col-md-6 padding-left-3rem">
    <p>Please fill out your address in the form below. The zipcode field is required, but the others are optional.
    Once you submit the form, you will be able to see the current temperature, as well as the forecasted high and
    low temperatures for the day.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 padding-left-3rem">
  <%= form_with(model: address, local: true) do |form| %>
    <% if address.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h4>
        <ul>
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :street_and_number %>
      <%= form.text_field :street_and_number %>
    </div>

    <div class="field">
      <%= form.label :city %>
      <%= form.text_field :city %>
    </div>

    <div class="field">
      <%= form.label :state %>
      <%= form.text_field :state %>
    </div>

    <div class="field">
      <%= form.label :zipcode %>
      <%= form.text_field :zipcode %>
    </div>

    <div class="actions">
      <%= form.submit "Get my forecast!"%>
    </div>
  <% end %>
  </div>
</div>
