<p id="notice"><%= notice %></p>

<p>
  <strong>Street and number:</strong>
  <%= @address.street_and_number %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @address.zipcode %>
</p>

<p>Current Temperature: <%= @address.getTemps[:current_temp] %>° F</p>
<p>Today's High Temperature: <%= @address.getTemps[:high_temp] %>° F</p>
<p>Today's Low Temperature: <%= @address.getTemps[:low_temp] %>° F</p>

<%= link_to 'Back', root_path %>
