<p id="notice"><%= notice %></p>

<p>
  <strong>Street and number:</strong>
  <%= @address.street_and_number %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @address.zipcode %>
</p>

Today's High Temperature: <%= @address.getHighTemp(@address.zipcode) %>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
